### Write a Pandas program to change the order of index of a given series.

In [34]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s = s.reindex(index = ['B','D','A','E','C'])
s

B    2
D    4
A    1
E    5
C    3
dtype: int64

### Write a Pandas program to select the specified columns and rows from a given DataFrame. 
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

Sample DataFrame:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [35]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data = exam_data, index = labels)
df.iloc[[0,2,4,5],[1,3]]

        name  score
a  Anastasia   12.5
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0

### Write a Pandas program to calculate the sum of the examination attempts by the students.

Sample DataFrame:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [36]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data = exam_data, index = labels)
df.sum()['attempts']

19

### download the dataset from given link, and perform the following :
https://www.w3resource.com/python-exercises/pandas/movies/movies_metadata.csv
#### Write a Python Pandas program to get the details of the movie with title 'Grumpier Old Men'.

In [57]:
import pandas as pd
df = pd.read_csv('movies_metadata.csv',encoding='latin1')
#Set the index to the title
df = df.set_index('title')
df.loc['Grumpier Old Men']

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    22-12-1995
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
video                                                                FALSE
vote_average                                                           6.5
vote_count                                                              92
Name: Grumpier Old Men, dtype: object

#### Write a Pandas program to display the movies (title, number of votes) that received specified number of votes.

In [58]:
import pandas as pd
df = pd.read_csv('movies_metadata.csv',encoding = 'latin1')
df[['title','vote_count']]

                                                title  vote_count
0                                           Toy Story      5415.0
1                                             Jumanji      2413.0
2                                    Grumpier Old Men        92.0
3                                   Waiting to Exhale        34.0
4                         Father of the Bride Part II       173.0
5                                                Heat      1886.0
6                                             Sabrina       141.0
7                                        Tom and Huck        45.0
8                                        Sudden Death       174.0
9                                           GoldenEye      1194.0
10                             The American President       199.0
11                        Dracula: Dead and Loving It       210.0
12                                              Balto       423.0
13                                              Nixon        72.0
14                                   Cutthroat Island       137.0
15                                             Casino      1343.0
16                              Sense and Sensibility       364.0
17                                         Four Rooms       539.0
18                     Ace Ventura: When Nature Calls      1128.0
19                                        Money Train       224.0
20                                         Get Shorty       305.0
21                                            Copycat       199.0
22                                          Assassins       394.0
23                                             Powder       143.0
24                                  Leaving Las Vegas       365.0
25                                            Othello        33.0
26                                       Now and Then        91.0
27                                         Persuasion        36.0
28                          The City of Lost Children       308.0
29  In 1930's Shanghai violence was not the proble...         6.5
30                                    Dangerous Minds       249.0
31                                     Twelve Monkeys      2470.0
32                                   Wings of Courage         4.0
33                                               Babe       756.0
34                                         Carrington        16.0
35                                   Dead Man Walking       350.0
36                             Across the Sea of Time         2.0
37                                       It Takes Two       149.0
38                                           Clueless       828.0
39                           Cry, the Beloved Country        13.0
40                                        Richard III        50.0
41                                    Dead Presidents        80.0
42                                        Restoration        30.0
43                                      Mortal Kombat       452.0
44                                         To Die For       177.0
45                      How To Make An American Quilt        38.0
46                                              Se7en      5915.0
47                                         Pocahontas      1509.0
48                              When Night Is Falling        10.0
49                                 The Usual Suspects      3334.0